.art{
    display: flex;
    justify-content: center;
}

.art_image{
    max-width: 100%;
    max-height: 95%;
}

@media (min-width: 769px){

    .art_slider{
        width: 50vw;
        height: 100vh;
        overflow: scroll;
        text-align: center;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      
      .art_slider::-webkit-scrollbar {
          display: none;
      }

}




  



