.art{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.art_image{
    max-width: 100%;
    max-height: 95%;
}

.art_text{
    margin-left: auto;
}

@media (min-width: 769px){

    .art_slider{
        height: 100vh;
        overflow: scroll;
        text-align: center;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      
      .art_slider::-webkit-scrollbar {
          display: none;
      }

}




  



