.background{
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*animation-name: preload-hide-animation;*/
    animation-duration: 1s;
    animation-delay: 2.7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear; 
}

.preload_logo{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes preload-hide-animation {

    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      visibility: hidden;
    }
  
  }