@media (min-width: 769px) {
    .side_nav{
      height: 100%;
      width: 58px;
      background-color: white;
      position: fixed;
      animation-name: preload-animation;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;     
  }

  .side_nav_button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    cursor: pointer;
  }

  .side_nav_extended{
    height: 100%;
    position: fixed;
    top: 0;
    left: 58px;
    background-color: white;
    transition:0.5s;
    width: 0;
    overflow-x: hidden;
  }

  .side_nav_extended_opened{
    width: 200px;
  }

  .side_nav_scroll_top_button{
    position: absolute;
    bottom : 5%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-135deg);
    left: 40%;
    cursor: pointer;
  }

  .side_nav__logo{
  width: 100%;  
  }
}

@media (max-width: 768px){
    .side_nav{
      height: 58px;
      width: 100%;
      background-color: white;
      position: fixed;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;     
  }

  .side_nav_button{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .side_nav_extended{
    width: 100%;
    position: fixed;
    top: 58px;
    left: 0;
    transform-origin: top;
    transform: scaleY(0);
    background-color: white;
    transition:0.5s;
    overflow-y: hidden;
  }

  .side_nav_extended_opened{
    transform: scaleY(1);
  }

  .side_nav__logo{
    display: none;
  }

  .side_nav_button__text{
    display: none;
  }

  .side_nav_scroll_top_button{
    display: none;
  }

}



@keyframes preload-animation {

  0% {
    width: 0;
  }

  100% {
    width: 58px;
  }

}


.side_nav_button__text{
  margin-right:15px;
}

.side_nav_extended__nav_link{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}