.side_nav{
    height: 100%;
    width: 58px;
    background-color: white;
    position: fixed;
    animation-name: preload-animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear; 
    
    
}

@keyframes preload-animation {

  0% {
    width: 0;
  }

  100% {
    width: 58px;
  }

}

/*******************/
.logo{
  width: 100%;  
}

.nav_menu_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}

.scroll_top_link{
  position: absolute;
  bottom : 0;
}