@font-face {
  font-family: myFirstFont;
  src: url('./../../assets/font/Augusta.ttf');
}

@font-face {
  font-family: eb;
  src: url('./../../assets/font/EBGaramond-Regular.ttf');
}



.side_nav {
  background-color: white;
  position: fixed;
  z-index: 3;
}

.side_nav_button {
  position: absolute;
  cursor: pointer;
  width: 100px;
}

.side_nav_button_transparent{
  opacity: 0;
}

.side_nav_extended {
  position: fixed;
  background-color: white;
  z-index: 2;
}

.side_nav_extended:after{
  content: "";
  background-image: url("./../../assets/img/noise.png");
  height: 300%;
  width: 300%;
  opacity: 0.3;
  position: fixed;
  top: 0;
  animation: grain 8s steps(10) infinite;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

.side_nav_extended_content_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.side_nav_scroll_top_button {
  position: absolute;
  bottom: 5%;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  left: 40%;
  cursor: pointer;
}

.side_nav__logo {
  width: 100%;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 4;
  transition:left 0.5s;
}

.side_nav_extended__logo{
  left: 218px;
}

.side_nav_button__text {
  margin-right: 15px;
  font-family: eb;
  font-size: 15px;
  letter-spacing: 3px;
  display: inline-block;
  vertical-align: middle;
}

.side_nav_extended__logo {
  text-align: center;
  font-size: 20px;
  font-family: myFirstFont;
}

.side_nav_extended_nav {
  text-align: center;
}

.side_nav_extended_nav__link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: inline-block;
  padding: 15px;
  font-family: eb;
  letter-spacing: 5px;
}

.side_nav_extended_project__link{
  text-decoration: none;
  color: black;
  font-family: myFirstFont;
  font-size: 17px;
  letter-spacing: 1px;
}

.side_nav_extended_social_icons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.side_nav_extended_social_icons__icon {
  width: 30px;
}

.side_nav_extended_close_button{
  position: absolute;
  left: 465px;
  top: 0;
  font-size: 27px;
  cursor: pointer;
}

.side_nav_extended_project_list_closed{
  max-height: 0;
  transition: max-height 0.55s ease-out;
  will-change: transition;
  overflow: hidden;
}

.side_nav_extended_project_list_opened{
  max-height: 100vh;
  transition: max-height 0.55s ease-in;
}


.side_nav_button__icon{
  width: 12px;
  display: inline-block;
  vertical-align: middle;
}

.side_nav_button__icon:after, 
.side_nav_button__icon:before, 
.side_nav_button__icon div {
  border-radius: 3px;
  content: '';
  display: block;
  height: 1.5px;
  margin: 4px 0;
  transition: all .4s ease-in-out;
  background-color:black;
}

.side_nav_button:hover .side_nav_button__icon:before {
  transform: translate(5px,6px) rotate(125deg);
}

.side_nav_button:hover .side_nav_button__icon:after {
  transform: translate(-2px,-5px) rotate(-125deg);
}

.side_nav_button:hover .side_nav_button__icon div {
  transform: scale(0);
}

@media (min-width: 769px) {
  .side_nav {
    height: 100%;
    width: 0;
    transition: width 1s linear;
  }
  .side_nav_width_animated{
    width: 58px;
  }
  .side_nav_button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  .side_nav_extended {
    height: 100%;
    top: 0;
    width: 0;
    transition: transform 0.5s;
    overflow: hidden;
    width: 500px;
    transform: scaleX(0);
    transform-origin: 0 100%;
  }
  .side_nav_extended_opened {
    transform: scaleX(1);
  }
  
}

@media (max-width: 768px) {
  .side_nav {
    height: 58px;
    width: 100%;
  }
  .side_nav_button {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }
  .side_nav_extended {
    width: 100%;
    top: 58px;
    left: 0;
    height: 0;
    overflow-x: hidden;
    transition: height 0.5s;
  }
  .side_nav_extended_opened {
    height: calc(100% - 58px);
  }
  .side_nav__logo {
    display: none;
  }
  .side_nav_button__text {
    display: none;
  }
  .side_nav_scroll_top_button {
    display: none;
  }
  .side_nav_extended_close_button{
    display: none;
  }
}

.side_nav_extended_fade_in_animated {
  animation-name: side_nav_extended_fade_in_animation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.side_nav_extended_fade_out_animated {
  animation-name: side_nav_extended_fade_out_animation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes side_nav_extended_fade_in_animation {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}

@keyframes side_nav_extended_fade_out_animation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}