.side_nav {
  background-color: white;
  position: fixed;
  z-index: 3;
}

.side_nav_animated {
  animation-name: side_nav_preload_animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.side_nav_button {
  position: absolute;
  cursor: pointer;
}

.side_nav_extended {
  position: fixed;
  background-color: white;
  z-index: 2;
}

.side_nav_extended_content_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.side_nav_scroll_top_button {
  position: absolute;
  bottom: 5%;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  left: 40%;
  cursor: pointer;
}

.side_nav__logo {
  width: 100%;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 4;
  transition:all 0.5s;
}

.side_nav_extended__logo{
  left: 275px;
}

.side_nav_button__text {
  margin-right: 15px;
}

.side_nav_extended__logo {
  text-align: center;
}

.side_nav_extended_nav {
  text-align: center;
}

.side_nav_extended_nav__link {
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  padding: 15px;
}

.side_nav_extended_social_icons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.side_nav_extended_social_icons__icon {
  width: 30px;
}

.side_nav_extended_close_button{
  position: absolute;
  left: 465px;
  top: 0;
  font-size: 27px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .side_nav {
    height: 100%;
    width: 58px;
  }
  .side_nav_button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  .side_nav_extended {
    height: 100%;
    top: 0;
    left: 58px;
    width: 0;
    transition: transform 0.5s;
    overflow: hidden;
    width: 500px;
    transform: scaleX(0);
    transform-origin: 0 100%;
  }
  .side_nav_extended_opened {
    transform: scaleX(1);
  }
  
}

@media (max-width: 768px) {
  .side_nav {
    height: 58px;
    width: 100%;
  }
  .side_nav_button {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }
  .side_nav_extended {
    width: 100%;
    top: 58px;
    left: 0;
    height: 0;
    overflow-x: hidden;
    transition: height 0.5s;
  }
  .side_nav_extended_opened {
    height: calc(100% - 58px);
  }
  .side_nav__logo {
    display: none;
  }
  .side_nav_button__text {
    display: none;
  }
  .side_nav_scroll_top_button {
    display: none;
  }
  .side_nav_extended_close_button{
    display: none;
  }
}

.side_nav_extended_fade_in_animated {
  animation-name: side_nav_extended_fade_in_animation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.side_nav_extended_fade_out_animated {
  animation-name: side_nav_extended_fade_out_animation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes side_nav_preload_animation {
  0% {
    width: 0;
  }
  100% {
    width: 58px;
  }
}

@keyframes side_nav_extended_fade_in_animation {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}

@keyframes side_nav_extended_fade_out_animation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}