.welcome_page{
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

.welcome_page_logo{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.welcome_page_dissapear{
      animation-name: welcome_page_dissapear_animation;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
}

@keyframes welcome_page_dissapear_animation{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        height: 0;
        width: 0;
        opacity: 0;
    }
}

